body section
{
	width: auto;
}

header
{
	height: 160px;
	width: 100%;
	background-color: gray;
}

img
{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-left: 10px;
	margin-top: 8px;
}

a
{
	text-decoration: none;
	color: red;
}

a:hover
{
	text-decoration: underline;
	color: green;
}

section h1
{
	border-bottom: 1px solid blue ; 
	width: auto;

}

section
{
	height: 250px;
	font-size: 18px;
	font-family: arial;
}

.description
{
	width: 80%;
	height: 50px;
	margin-top: 20px;
	margin-left: 140px;
	/*border: 1px solid red;*/
	font-size: 20px;
	text-align: center;
}

table
{
	width: 100%;
}

span
{
	float:right;
}

@media only screen and (max-width: 1024px)
{
	
}



