body{
   background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);


}
.form_content{
  background-color: black;
   /*height: 600px;*/
   opacity: 0.7;
   border-radius: 13px;
   margin-top: 50px;
   margin-bottom: 50px;
   padding-bottom: 20px;
}
h1{
   text-align: center;
   margin-bottom: 30px;
   margin-top: 30px;
   font-size: 30px;
   font-weight: bold;
   text-transform: uppercase;
   color: white;
}
img{
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
   height: 120px;
   width: 120px;
   border-radius: 50%;
}
button{
   /*background-color: green;*/
   /*padding-bottom: -50px; */
}
.form_icon{
   position: relative;
   top:-25px;
   left:-17px;
   color: white;
}
label{
   font-weight: bold;
   font-size: 25px;
   color: white;
}
.avertir{
   color: red;
   opacity: 0;
   /*display: none;*/
   margin-left: 20px;
   margin-top: 10px;
   font-size: 17px;
}

.btn{
   background:rgb(119 84 201) ;
   outline: none;
   border:none;
   cursor: pointer;
   border-radius: 20px;
   position: relative;
   box-shadow: 0 6px ;
}
.btn:active{
   box-shadow: 0 0 rgb(119 84 201);
   top:6px;
}
input,select{

   border-top:none!important;
   border-left:none!important;
   border-right:none!important;
   background-color:transparent!important;
   height: 60px !important;
   font-size: 20px !important;
}